@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #FFFFFF;
    width: 375px;
}

header {
    display: flex;
    border-bottom: 1px solid #C6C6C6;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.avatar {
    width: 34px;
    border-radius: 50%;
}

.logo {
    width: 127px;
}

.pfp {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    margin-top: 0px;
}

.username {
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 13px;
}

.location {
    margin-top: 0px;
    font-size: 12px;
}

.post {
    width: 375px;
    margin-bottom: 10px;
}

.icon {
    padding-left: 10px;
    width: 20px;
}

.likes {
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 0px;
    padding-left: 10px;
    font-size: 13px;
}

span {
    font-weight: 900;
}

.caption {
    padding-left: 10px;
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 13px;
}

.partition {
    height: 25px;
    background: #EDEDED;
}



